<h1>Homepage</h1>
<form id="ingredient-lookup" onsubmit="return false;">
    <label>
        Lookup
        <input name="ingredient" type="text" />
    </label>
    <input type="submit" />
</form>
<div id="ingredient-list"></div>